#inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
}

#start {
    padding-right: 10px;
}

.input {
    background-color: transparent;
    border: none;
    caret-color: #fff;
    color: #fff;
    font-size: medium;
}

*:focus {
    outline: none;
}

.found {
    color: greenyellow;
}

.not-found {
    color: red;
}
